{% extends 'layout.html' %}

{% block body %}
  <h1>About Us </h1>
  <p> The idea of SeattleTrails started for the purpose of providing Seattle cyclists a platform to socialize, meet, and ride with other people. With SeattleTrails
  you will be able to tailor your own ride. Filling in particular criteria's based on the ride you are looking for, SeattleTrails will intelligently identify trails to best suit your
  preferences. Register for an account and stay up to date on new routes that other riders design and share, as well as saving your routes.</p>
  <p> The website also aims to integrate the Strava API to further integrate more specific information of the trails and routes. Information such as gradient, altitude, duration, speed, cadence and many more
  can be extrapolated to provide a more detailed display of infomation for Cycling enthusiasts. Lastly, this website intends to include video footage of the trails in the future as another way to showcase
  the trails and routes to help Cyclist evaluate the trail without actually being there. </p>
  <p> The website is currently in its preliminary stages of development.</p>
{% endblock %}
